.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) {
    padding: 2.7rem 3rem;
    background: #0e1319
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) {
        padding: 1.5rem;
        background-color: #20232a
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .title:where(.svelte-hrykto) {
    margin-bottom: .9rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .title:where(.svelte-hrykto) {
        margin-bottom: 1rem;
        font-size: 1.3rem
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .description:where(.svelte-hrykto) {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #0a91c8
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .description:where(.svelte-hrykto) {
        margin-bottom: 2rem;
        font-size: 1.3rem
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) {
        flex-direction: column;
        gap: 1.5rem
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .get-code-button {
    height: 3.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #3e3e46;
    border-radius: 3px
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .get-code-button {
        width: 100%;
        font-size: 1.3rem
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .code-input {
    max-width: 18rem
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .code-input {
        max-width: 100%
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .code-input input {
    height: 3.8rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #434343;
    border-radius: 3px
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .code-input input {
        font-size: 1.3rem
    }
}

.kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .verify-button {
    height: 3.8rem
}

@media not (min-width:920px) {
    .kyc-mail-verification.svelte-hrykto .container:where(.svelte-hrykto) .logic:where(.svelte-hrykto) .verify-button {
        width: 100%;
        font-size: 1.3rem
    }
}

.kyc-sumsub-verification.svelte-zvk3hc .questionnaires:where(.svelte-zvk3hc) {
    display: flex;
    gap: 2.1rem;
    align-items: center;
    justify-content: center
}

.kyc-sumsub-verification.svelte-zvk3hc .questionnaires:where(.svelte-zvk3hc) .questionnaire:where(.svelte-zvk3hc) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.7rem;
    padding: 3rem 1.5rem;
    font-size: 14px;
    font-weight: 400;
    background-color: #323246;
    border-radius: 4px;
    transition: .2s ease
}

.kyc-sumsub-verification.svelte-zvk3hc .questionnaires:where(.svelte-zvk3hc) .questionnaire:where(.svelte-zvk3hc):hover {
    cursor: pointer;
    background-color: #00aaeb;
    transform: translateY(-2px)
}

.kyc-sumsub-verification.svelte-zvk3hc .questionnaires:where(.svelte-zvk3hc) .questionnaire.active:where(.svelte-zvk3hc) {
    background-color: #00aaeb;
    transform: translateY(-2px)
}

.kyc-sumsub-verification.svelte-zvk3hc .iframe-container:where(.svelte-zvk3hc) {
    margin-top: 3rem
}

.kyc-body.svelte-bbjz43 {
    padding: 3rem
}

@media not (min-width:920px) {
    .kyc-body.svelte-bbjz43 {
        padding: 1.5rem;
        background-color: #0e1319
    }
}

.kyc-body.svelte-bbjz43 .description:where(.svelte-bbjz43) {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0
}

@media not (min-width:920px) {
    .kyc-body.svelte-bbjz43 .description:where(.svelte-bbjz43) {
        margin-bottom: 2.4rem;
        font-size: 1.3rem;
        color: #bfbfbf
    }
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    background-color: #323246
}

.kyc-form.svelte-5ldl6x .kyc-form-item.verified:where(.svelte-5ldl6x) {
    cursor: default
}

@media not (min-width:920px) {
    .kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) {
        padding: 1.6rem;
        background-color: #20242c
    }
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .kyc-icon:where(.svelte-5ldl6x) {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1.9rem
}

[dir=rtl] .kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .kyc-icon:where(.svelte-5ldl6x) {
    margin-right: 0;
    margin-left: 1.9rem
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .kyc-icon:where(.svelte-5ldl6x) svg {
    width: 100%;
    height: 100%
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .kyc-icon:where(.svelte-5ldl6x) svg path {
    fill: #02aaeb
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .name:where(.svelte-5ldl6x) {
    font-size: 2rem;
    color: #fff
}

@media not (min-width:920px) {
    .kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .name:where(.svelte-5ldl6x) {
        font-size: 1.6rem
    }
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .collapse-icon:where(.svelte-5ldl6x) {
    margin-left: auto;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: .2s ease
}

[dir=rtl] .kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .collapse-icon:where(.svelte-5ldl6x) {
    margin-left: 0;
    margin-right: auto;
    transform: rotate(90deg)
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .collapse-icon.collapsed:where(.svelte-5ldl6x) {
    transform: rotate(0)
}

.kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .verificaiton-icon:where(.svelte-5ldl6x) {
    display: flex;
    gap: .8rem;
    align-items: center;
    margin-left: auto;
    font-size: 2rem;
    color: #fff
}

[dir=rtl] .kyc-form.svelte-5ldl6x .kyc-form-item:where(.svelte-5ldl6x) .verificaiton-icon:where(.svelte-5ldl6x) {
    margin-left: 0;
    margin-right: auto
}

.kyc-page-skeleton.svelte-1q6grju {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%
}

@media not (min-width:920px) {
    .kyc-page-skeleton.svelte-1q6grju {
        gap: 1.5rem
    }
}

.kyc-page-skeleton.svelte-1q6grju .kyc-form-row:where(.svelte-1q6grju) {
    align-items: center;
    width: 100%;
    padding: 1.5rem 2.5rem;
    background-color: #323246;
    border-radius: .2rem
}

@media not (min-width:920px) {
    .kyc-page-skeleton.svelte-1q6grju .kyc-form-row:where(.svelte-1q6grju) {
        padding: 1.6rem;
        background-color: #20242c
    }
}

.kyc-page-skeleton.svelte-1q6grju .ui-skeleton-row {
    align-items: center;
    width: 100%
}

.kyc-page-skeleton.svelte-1q6grju .chevron {
    margin-left: auto
}

[dir=rtl] .kyc-page-skeleton.svelte-1q6grju .chevron {
    margin-left: 0;
    margin-right: auto
}

.kyc-page.svelte-15zfzb0 {
    width: 100%
}