.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) {
    display: flex;
    gap: 1.5rem;
    height: 25.8rem;
    padding-right: 5.2rem;
    overflow: hidden;
    background: #1e1e25;
    border: .1rem solid rgba(255,255,255,.2);
    border-radius: 1.2rem
}

[dir=rtl] .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) {
    padding-right: 0;
    padding-left: 5.2rem
}

@media not (min-width:920px) {
    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) {
        flex-direction: column;
        gap: 0;
        height: unset;
        padding-right: 0;
        padding-bottom: 1rem
    }

    [dir=rtl] .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) {
        padding-right: 0;
        padding-left: 0
    }
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .img-wrapper:where(.svelte-1kfvsds) {
    display: block;
    flex-shrink: 0;
    width: 23.7rem;
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem
}

[dir=rtl] .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .img-wrapper:where(.svelte-1kfvsds) {
    border-radius: 0 .5rem .5rem 0
}

@media not (min-width:920px) {
    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .img-wrapper:where(.svelte-1kfvsds) {
        width: 100%;
        height: 20rem;
        border-radius: .5rem .5rem 0 0
    }
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .img-wrapper:where(.svelte-1kfvsds) img:where(.svelte-1kfvsds) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 0;
    padding-bottom: 2rem
}

[dir=rtl] .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) {
    padding-right: 0;
    padding-left: 0
}

@media not (min-width:920px) {
    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) {
        padding: 2rem
    }
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .title:where(.svelte-1kfvsds) {
    margin-bottom: .9rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #00b8ff
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .text:where(.svelte-1kfvsds) {
    max-width: 46rem;
    margin-top: .5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffffe6
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top: auto
}

@media not (min-width:920px) {
    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) {
        flex-direction: column;
        gap: 1rem
    }
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .amount-wrapper:where(.svelte-1kfvsds) {
    display: flex;
    gap: .5rem;
    align-items: baseline;
    font-weight: 700;
    color: #fff
}

    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .amount-wrapper:where(.svelte-1kfvsds) .currency:where(.svelte-1kfvsds) {
        color: #00b8ff
    }

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .claim:where(.svelte-1kfvsds) {
    width: 11rem;
    height: 3.2rem;
    padding: 0 2.7rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 3rem;
    background: #02aaeb;
    border-radius: .3rem
}

@media not (min-width:920px) {
    .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .claim:where(.svelte-1kfvsds) {
        top: 376px;
        left: 119px;
        width: unset;
        height: 3.2rem;
        padding: 0 1.7rem;
        margin-top: 2rem;
        font-size: 1.3rem;
        border-radius: .3rem
    }

    [dir=rtl] .cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .claim:where(.svelte-1kfvsds) {
        left: auto;
        right: 119px
    }
}

.cryptoCashback.svelte-1kfvsds .cashback-wrapper:where(.svelte-1kfvsds) .cashback-item:where(.svelte-1kfvsds) .content-wrapper:where(.svelte-1kfvsds) .bottom:where(.svelte-1kfvsds) .claim:where(.svelte-1kfvsds):disabled {
    cursor: default;
    opacity: .7
}

crypto-cashback-popup .content {
    min-width: 32rem;
    max-width: 42rem;
    padding: 5rem 2.4rem 2.8rem !important;
    color: #fff;
    background: #1c263a;
    border-radius: 1.6rem
}

    crypto-cashback-popup .content .popup-content {
        margin-top: .8rem
    }

        crypto-cashback-popup .content .popup-content .text {
            font-size: 1.4rem;
            line-height: 1.5
        }

        crypto-cashback-popup .content .popup-content .actions {
            display: flex;
            gap: 1.2rem;
            margin-top: 2.4rem
        }

            crypto-cashback-popup .content .popup-content .actions .btn {
                flex: 1;
                height: 4.4rem;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
                border: none;
                border-radius: .8rem
            }

            crypto-cashback-popup .content .popup-content .actions .yes-btn {
                background: #02aaeb
            }

            crypto-cashback-popup .content .popup-content .actions .no-btn {
                color: #fff;
                background: #343b4f
            }
