.timer.svelte-rf66im {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    width: 22.3rem;
    margin: 0 auto !important;
    font-size: 1.2rem;
    color: #fff
}

.timer.svelte-rf66im div:where(.svelte-rf66im) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
    padding: .9rem 0;
    font-size: 2.4rem;
    background-color: var(--color, #5dc233);
    border-radius: .4rem
}

.timer.svelte-rf66im div:where(.svelte-rf66im):before,
.timer.svelte-rf66im div:where(.svelte-rf66im):after {
    position: absolute;
    right: -.8rem;
    width: .3rem;
    height: .3rem;
    content: "";
    background: #fff9;
    border-radius: 50%
}

[dir=rtl] .timer.svelte-rf66im div:where(.svelte-rf66im):before,
[dir=rtl] .timer.svelte-rf66im div:where(.svelte-rf66im):after {
    right: auto;
    left: -.8rem
}

.timer.svelte-rf66im div:where(.svelte-rf66im):before {
    top: 57%
}

.timer.svelte-rf66im div:where(.svelte-rf66im):last-child:after,
.timer.svelte-rf66im div:where(.svelte-rf66im):last-child:before {
    display: none
}

.timer.svelte-rf66im div:where(.svelte-rf66im) span {
    display: block;
    font-size: 1.2rem;
    color: #ffffffbd
}

.timer.svelte-rf66im div:where(.svelte-rf66im):first-child {
    color: #1b1b22;
    background-color: #fff
}

.timer.svelte-rf66im div:where(.svelte-rf66im):first-child span {
    color: #1b1b22
}

section.sportsBonus.svelte-m2zhou .sports-bonus-title:where(.svelte-m2zhou) {
    height: 7rem;
    font-size: 2.1rem;
    line-height: 5.5rem
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    width: 100%;
    min-height: 20.4rem;
    padding: 2.5rem 3rem;
    margin-bottom: 2.5rem;
    background: linear-gradient(114deg, #2c2c35 10%, #3dac51);
    border-radius: .5rem;
    --color: #5dc233
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) {
    background: linear-gradient(-114deg, #2c2c35 10%, #3dac51)
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="1"]:where(.svelte-m2zhou) {
    background: linear-gradient(114deg, #35342c 10%, #288eaa);
    --color: #17bcd6
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="1"]:where(.svelte-m2zhou) {
    background: linear-gradient(-114deg, #35342c 10%, #288eaa)
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="2"]:where(.svelte-m2zhou) {
    background: linear-gradient(114deg, #2c2c35 10%, #753dac);
    --color: #d552cc
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="2"]:where(.svelte-m2zhou) {
    background: linear-gradient(-114deg, #2c2c35 10%, #753dac)
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="3"]:where(.svelte-m2zhou) {
    background: linear-gradient(114deg, #2c2c35 10%, #3dac51);
    --color: #5dc233
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="3"]:where(.svelte-m2zhou) {
    background: linear-gradient(-114deg, #2c2c35 10%, #3dac51)
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="4"]:where(.svelte-m2zhou) {
    background: linear-gradient(114deg, #2c2c35 10%, #3d57ac);
    --color: #529cd5
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item[data-type="4"]:where(.svelte-m2zhou) {
    background: linear-gradient(-114deg, #2c2c35 10%, #3d57ac)
}

@media not (min-width:920px) {
    section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) {
        grid-template-columns: 1fr;
        gap: 4.5rem;
        padding: 2.5rem 2rem 5rem
    }
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .right:where(.svelte-m2zhou) {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

@media not (min-width:920px) {
    section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .right:where(.svelte-m2zhou) {
        align-items: center
    }
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-title:where(.svelte-m2zhou) {
    display: flex;
    gap: .8rem;
    align-items: center;
    font-size: 1.8rem;
    color: #eef2ff
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) {
    margin: 1.7rem 0
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) .title {
    font-size: 1.2rem;
    color: #97a1c2
}

@media not (min-width:920px) {
    section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) .title {
        font-size: 1.4rem
    }
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) .title:after {
    content: ":"
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) #type {
    margin-left: 1rem;
    font-size: 1.4rem;
    color: #fff
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-type-wrapper:where(.svelte-m2zhou) #type {
    margin-left: 0;
    margin-right: 1rem
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .desc:where(.svelte-m2zhou) {
    max-height: 7rem;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: #fff;
    transition: max-height .2s ease
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .desc:where(.svelte-m2zhou) * {
    padding: revert;
    margin: revert;
    font-family: var(--font-family-primary), sans-serif !important
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .desc.expanded:where(.svelte-m2zhou) {
    max-height: 100rem;
    overflow: auto
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .desc.expanded.expanded:where(.svelte-m2zhou) {
    scrollbar-width: none;
    -ms-overflow-style: none
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .desc.expanded.expanded:where(.svelte-m2zhou)::-webkit-scrollbar {
    display: none
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .read-more:where(.svelte-m2zhou) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 4rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #bbc6e9;
    text-decoration: underline;
    cursor: pointer
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .read-more:where(.svelte-m2zhou):hover {
    color: #fff
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-amount:where(.svelte-m2zhou) {
    height: 3rem;
    margin-top: 1.7rem;
    font-size: 1.4rem;
    color: #fff
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-amount:where(.svelte-m2zhou) .value:where(.svelte-m2zhou) {
    margin-left: .8rem;
    color: #ffe600;
    text-decoration: underline
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .bonus-amount:where(.svelte-m2zhou) .value:where(.svelte-m2zhou) {
    margin-left: 0;
    margin-right: .8rem
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .time-left:where(.svelte-m2zhou) {
    height: 5.6rem
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .claim.btn:where(.svelte-m2zhou) {
    flex-shrink: 0;
    width: auto;
    height: 6rem;
    padding: 0 1.7rem;
    margin-left: 1rem;
    line-height: 6rem;
    color: #000;
    cursor: pointer;
    background-color: #eef2ff;
    border-radius: .5rem;
    transition: background-color .12s ease-in
}

[dir=rtl] section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .claim.btn:where(.svelte-m2zhou) {
    margin-left: 0;
    margin-right: 1rem
}

section.sportsBonus.svelte-m2zhou .sports-bonus-list:where(.svelte-m2zhou) .sports-bonus-item:where(.svelte-m2zhou) .claim.btn:where(.svelte-m2zhou):hover {
    background-color: #fff
}