.notifications-header.svelte-1ylz78u {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.4rem 2.3rem 1.1rem 3.2rem;
    background: #323246;
    border-top-left-radius: .469rem;
    border-top-right-radius: .469rem
}

[dir=rtl] .notifications-header.svelte-1ylz78u {
    padding: 1.4rem 3.2rem 1.1rem 2.3rem
}

@media not (min-width:920px) {
    .notifications-header.svelte-1ylz78u {
        padding: 1.4rem 3rem 1.1rem 1.9rem
    }
    [dir=rtl] .notifications-header.svelte-1ylz78u {
        padding: 1.4rem 1.9rem 1.1rem 3rem
    }
}

.notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) {
    display: flex;
    gap: 2rem;
    align-items: center
}

.notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .title:where(.svelte-1ylz78u) {
    font-size: 1.41rem;
    font-weight: 600;
    color: #fff
}

.notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .core-input .icon {
    right: 1.1rem
}

[dir=rtl] .notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .core-input .icon {
    right: auto;
    left: 1.1rem
}

.notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .core-input input {
    height: 4rem;
    padding-right: 2.4rem;
    padding-left: 1.5rem;
    background: #16161c59;
    border: none
}

[dir=rtl] .notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .core-input input {
    padding-left: 2.4rem;
    padding-right: 1.5rem
}

.notifications-header.svelte-1ylz78u .left:where(.svelte-1ylz78u) .core-input input::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: #828a99
}

.notifications-header.svelte-1ylz78u .right:where(.svelte-1ylz78u) {
    display: flex;
    gap: 1rem;
    align-items: center
}

.notifications-header.svelte-1ylz78u .right:where(.svelte-1ylz78u) .core-checkbox .checkbox-container .checkmark {
    width: 2.075rem;
    height: 2.075rem;
    overflow: hidden;
    border-radius: .375rem
}

.notifications-header.svelte-1ylz78u .right:where(.svelte-1ylz78u) .core-checkbox .checkbox-container .checkmark:after {
    width: 110%;
    height: 110%;
    transition: .2s ease
}

.notifications-header.svelte-1ylz78u .right:where(.svelte-1ylz78u) span {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff6
}

.notification-item.svelte-1h67izq {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem 5.6rem 1.4rem 3.2rem;
    cursor: pointer;
    background: #1d212c
}

[dir=rtl] .notification-item.svelte-1h67izq {
    padding: 1.6rem 3.2rem 1.4rem 5.6rem
}

.notification-item.svelte-1h67izq .top:where(.svelte-1h67izq) {
    margin-bottom: .9rem
}

.notification-item.svelte-1h67izq .top:where(.svelte-1h67izq) .title:where(.svelte-1h67izq) {
    font-size: 1.31rem;
    font-weight: 400;
    color: #adb8cc
}

.notification-item.svelte-1h67izq .description-wrapper:where(.svelte-1h67izq) .description:where(.svelte-1h67izq) {
    margin-bottom: .9rem
}

.notification-item.svelte-1h67izq .description-wrapper:where(.svelte-1h67izq) .image:where(.svelte-1h67izq) {
    width: 100%;
    margin: 1.6rem auto;
    border-radius: 10px
}

.notification-item.svelte-1h67izq .description-wrapper:where(.svelte-1h67izq) .image:where(.svelte-1h67izq) img:where(.svelte-1h67izq) {
    width: 100%;
    height: auto
}

.notification-item.svelte-1h67izq .description-wrapper:where(.svelte-1h67izq) .buttons:where(.svelte-1h67izq) {
    display: flex;
    gap: .6rem;
    align-items: center;
    justify-content: center;
    width: 100%
}

.notification-item.svelte-1h67izq .bottom:where(.svelte-1h67izq) {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.notification-item.svelte-1h67izq .bottom:where(.svelte-1h67izq) .date:where(.svelte-1h67izq) {
    color: #ffffff4d
}

.notification-item.svelte-1h67izq .bottom:where(.svelte-1h67izq) .delete-notification:where(.svelte-1h67izq) {
    display: flex;
    gap: .4rem;
    align-items: center;
    cursor: pointer
}

.notification-item.svelte-1h67izq .bottom:where(.svelte-1h67izq) .delete-notification:where(.svelte-1h67izq) span {
    font-size: 1rem;
    font-weight: 500;
    color: #ff485a
}

.notifications-page-wrapper.svelte-nmdstb {
    width: 100%
}

.notifications-page-wrapper.svelte-nmdstb .notifications-list:where(.svelte-nmdstb) {
    max-height: 66.5rem;
    overflow: auto
}

.notifications-page-wrapper.svelte-nmdstb .notifications-list:where(.svelte-nmdstb) .notification-item {
    border-bottom: .0625rem solid rgba(154, 168, 196, .07)
}

.notifications-page-wrapper.svelte-nmdstb .notifications-list:where(.svelte-nmdstb) .notification-item:last-child {
    border-bottom: none
}

@media not (min-width:920px) {
    .notifications-page-wrapper.svelte-nmdstb {
        width: 100dvw;
        margin-left: -1.2rem
    }
    [dir=rtl] .notifications-page-wrapper.svelte-nmdstb {
        margin-left: 0;
        margin-right: -1.2rem
    }
}