.transactions-date-picker.svelte-vps33z {
    position: relative
}

@media not (min-width:920px) {
    .transactions-date-picker.svelte-vps33z {
        width: 100%
    }
}

.transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 17.1rem;
    height: 4rem;
    padding-inline: 1.2rem;
    cursor: pointer;
    background: #323246;
    border-radius: .4rem
}

@media not (min-width:920px) {
    .transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) {
        width: 100%
    }
}

.transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) .placeholder-date:where(.svelte-vps33z) {
    display: flex;
    gap: .6rem;
    align-items: center
}

.transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) .placeholder-date:where(.svelte-vps33z) span:where(.svelte-vps33z) {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff80
}

.transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #a1a3bf
}

@media not (min-width:920px) {
    .transactions-date-picker.svelte-vps33z .placeholder:where(.svelte-vps33z) span {
        font-size: 1.8rem;
        font-weight: 500
    }
}

.transactions-date-picker.svelte-vps33z .core-date-picker {
    position: absolute;
    top: 100%;
    right: -4.3rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 21.2rem;
    padding: .8rem 0;
    margin-top: .8rem;
    background: #fff;
    border-top: 1px solid rgb(51, 153, 255);
    box-shadow: 0 3px 6px #ccc
}

[dir=rtl] .transactions-date-picker.svelte-vps33z .core-date-picker {
    right: auto;
    left: -4.3rem
}

@media not (min-width:920px) {
    .transactions-date-picker.svelte-vps33z .core-date-picker {
        position: fixed;
        top: unset;
        bottom: 0%;
        left: 0;
        z-index: var(--z-index-modal);
        width: 100%;
        padding: 5rem 5.5rem
    }
    [dir=rtl] .transactions-date-picker.svelte-vps33z .core-date-picker {
        left: auto;
        right: 0
    }
}

.transactions-date-picker.svelte-vps33z .core-date-picker .month-changer {
    padding-inline: .5rem
}

.transactions-date-picker.svelte-vps33z .core-date-picker .month-changer .arrow svg {
    width: 1.8rem;
    height: 1.8rem
}

.transactions-date-picker.svelte-vps33z .core-date-picker .month-changer .arrow svg path {
    fill: #000
}

.transactions-date-picker.svelte-vps33z .core-date-picker .calendar {
    width: 100%;
    color: #000
}

.transactions-date-picker.svelte-vps33z .core-date-picker .calendar .week-days {
    grid-template-columns: repeat(7, 1fr);
    padding: 0 .4rem;
    font-size: 1.2rem;
    color: #000
}

.transactions-date-picker.svelte-vps33z .core-date-picker .calendar .dates .date-row {
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    text-align: center
}

.transactions-date-picker.svelte-vps33z .core-date-picker .calendar .dates .date-row .date {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0
}

.transactions-date-picker.svelte-vps33z .core-date-picker .calendar .dates .date-row .date:hover {
    background-color: #e6f2ff
}

@media not (min-width:920px) {
    .cancel-transaction-popup .overlay {
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.cancel-transaction-popup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.6rem;
    padding: 2rem 1.7rem 2.4rem !important;
    background: #323246 !important;
    border: none;
    border-radius: .4rem !important
}

@media not (min-width:920px) {
    .cancel-transaction-popup .content {
        width: 30.6rem !important
    }
}

.cancel-transaction-popup .content .title-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center
}

.cancel-transaction-popup .content .title {
    font-size: 1.4rem;
    color: #fff;
    text-align: center
}

.cancel-transaction-popup .buttons-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-top: 3.2rem
}

.cancel-transaction-popup .core-button {
    width: 9.6rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    background: #00aaeb;
    border-radius: .8rem
}

.cancel-transaction-popup .no {
    background: #cf142b
}

.cancel-transaction-popup .no:hover {
    background: #cf142bcc
}

.cancel-transaction-popup .ok {
    width: 13.2rem;
    margin-top: 2.1rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase
}

.transaction-item.svelte-z3uwmz {
    margin-bottom: 2rem
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgb(23, 33, 41)
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .detail:where(.svelte-z3uwmz) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .operation-type:where(.svelte-z3uwmz) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff80
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .transaction-status:where(.svelte-z3uwmz) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff80
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .amount:where(.svelte-z3uwmz) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff80
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .date:where(.svelte-z3uwmz) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff80;
    text-align: right
}

[dir=rtl] .transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .date:where(.svelte-z3uwmz) {
    text-align: left
}

.transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .name:where(.svelte-z3uwmz) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff80;
    text-align: right
}

[dir=rtl] .transaction-item.svelte-z3uwmz .details:where(.svelte-z3uwmz) .name:where(.svelte-z3uwmz) {
    text-align: left
}

.view-details {
    color: #929dbf;
    transition: .2s ease
}

.view-details:hover {
    color: var(--Jackbit-Default-Brand-Green, #00ec66)
}

.items.svelte-wovg7v {
    width: 100%;
    padding-inline: 1.8rem
}

.row.svelte-wovg7v {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: start
}

@media not (min-width:920px) {
    .row.svelte-wovg7v {
        justify-content: flex-start
    }
}

.core-table thead {
    height: 5.45rem;
    background: #0e1319;
    border-radius: 10px 10px 0 0
}

.core-table thead th {
    padding-block: 1.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff80;
    text-align: left
}

[dir=rtl] .core-table thead th {
    text-align: right
}

.core-table thead th:first-child {
    padding-left: 5.6rem
}

[dir=rtl] .core-table thead th:first-child {
    padding-left: 0;
    padding-right: 5.6rem
}

.core-table thead th:last-child {
    padding-right: 3rem
}

[dir=rtl] .core-table thead th:last-child {
    padding-right: 0;
    padding-left: 3rem
}

.core-table tbody tr {
    height: 5.5rem;
    font-size: 1.4rem;
    background-color: #1d212c
}

.core-table tbody tr td {
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .03)
}

.core-table tbody tr td:first-child {
    padding-left: 5.6rem
}

[dir=rtl] .core-table tbody tr td:first-child {
    padding-left: 0;
    padding-right: 5.6rem
}

.core-table tbody tr td:last-child {
    padding-right: 3rem
}

[dir=rtl] .core-table tbody tr td:last-child {
    padding-right: 0;
    padding-left: 3rem
}

.status.svelte-wovg7v {
    display: flex;
    gap: .7rem;
    align-items: center
}

@media not (min-width:920px) {
    .status.svelte-wovg7v {
        justify-content: end
    }
}

.status.svelte-wovg7v .cancel:where(.svelte-wovg7v) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    background-color: #cf142b;
    border-radius: .4rem
}

.status.svelte-wovg7v .cancel:where(.svelte-wovg7v) svg path {
    fill-opacity: 1
}

.transactions.svelte-cz2cxe {
    display: flex;
    flex-direction: column;
    width: 100%
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 2.5rem 0 2.5rem 5.15rem
}

[dir=rtl] .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) {
    padding: 2.5rem 5.15rem 2.5rem 0
}

@media(not (min-width:1249px))and (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) {
        flex-wrap: wrap
    }
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) {
        flex-direction: column;
        gap: 1.8rem;
        padding: 1.8rem
    }
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) {
    display: flex;
    gap: 3rem;
    align-items: center
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) {
        justify-content: space-between;
        width: 100%
    }
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select {
    width: 17.1rem
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select {
        width: 100%
    }
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .placeholder {
    display: flex;
    align-items: center;
    width: 17.1rem;
    height: 4rem;
    padding-inline: 1.2rem;
    font-size: 1.4rem;
    color: #ffffff80;
    background-color: #323246;
    border: none;
    border-radius: .4rem
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .placeholder {
        width: 100%
    }
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .core-select-options {
    background-color: #2b2b3b;
    border: none
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .core-select-options .option {
    padding-block: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: none
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .core-select-options .option:hover {
    background-color: #323246
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .filter-wrapper:where(.svelte-cz2cxe) .core-select .core-select-options .active {
    background-color: #323246
}

.transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .core-button {
    width: 15.1rem;
    height: 4rem;
    border-radius: .3rem
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .filters-wrapper:where(.svelte-cz2cxe) .core-button {
        width: 100%
    }
}

.transactions.svelte-cz2cxe .transactions-wrapper:where(.svelte-cz2cxe) {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center
}

.transactions.svelte-cz2cxe .transactions-wrapper:where(.svelte-cz2cxe) .pagination-container {
    gap: 3.5rem
}

.transactions.svelte-cz2cxe .transactions-wrapper:where(.svelte-cz2cxe) .pagination-container .arrow button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.7rem;
    height: 3.7rem;
    cursor: pointer;
    background-color: #0e1319
}

@media not (min-width:920px) {
    .transactions.svelte-cz2cxe .transactions-wrapper:where(.svelte-cz2cxe) .pagination-container .arrow button {
        background: #323246
    }
}

.transactions.svelte-cz2cxe .transactions-wrapper:where(.svelte-cz2cxe) .pagination-container .arrow button svg path {
    fill: #fff
}