.gifts-page.svelte-1x8p5g5 {
    height: 100%;
    padding-inline: 4rem
}

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2.4rem
    }

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) {
        margin-bottom: 0rem
    }
}

.gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22.8rem,1fr));
    gap: 1.6rem;
    width: 100%
}

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        width: 100%;
        height: 4.8rem;
        padding: .9rem .6rem;
        margin-bottom: 1.6rem;
        overflow: auto;
        background: #1d212c;
        border-radius: 4px
    }
}

.gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-wrap: nowrap;
    background: #323246;
    border-radius: .4rem
}

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) .count:where(.svelte-1x8p5g5) {
        position: absolute;
        right: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.1rem;
        height: 2.1rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: #fff;
        background: #565678;
        border-radius: 50%
    }

[dir=rtl] .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) .count:where(.svelte-1x8p5g5) {
    right: auto;
    left: 1.1rem
}

.gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) a {
    display: flex;
    gap: .95rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-block: 1.1rem
}

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) a svg {
        width: 2.4rem;
        height: 2.4rem;
        color: #02aaeb
    }

.gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item.active:where(.svelte-1x8p5g5) {
    position: relative;
    color: #fff;
    background-color: #02aaeb
}

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item.active:where(.svelte-1x8p5g5) svg {
        color: #fff
    }

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item.active:where(.svelte-1x8p5g5) .count:where(.svelte-1x8p5g5) {
        color: #02aaeb;
        background: #fff
    }

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item:where(.svelte-1x8p5g5) {
        padding: .8rem;
        font-size: 1.2rem;
        background-color: transparent
    }

    .gifts-page.svelte-1x8p5g5 .header:where(.svelte-1x8p5g5) .menu:where(.svelte-1x8p5g5) .item.active:where(.svelte-1x8p5g5) {
        font-weight: 500;
        color: #f3f3f5
    }
}

.gifts-page.svelte-1x8p5g5 .core-table th {
    text-wrap: nowrap;
    border-bottom: 1px solid #333645
}

.gifts-page.svelte-1x8p5g5 .core-table td {
    height: 7.6rem;
    padding: 1.6rem;
    color: #d1d5e1 !important;
    text-wrap: wrap;
    background: #0e1319;
    border-bottom: 1px solid #333645
}

    .gifts-page.svelte-1x8p5g5 .core-table td[colspan="4"] {
        background: #1d212c
    }

    .gifts-page.svelte-1x8p5g5 .core-table td .game-list-trigger {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 8.509rem;
        height: 3rem;
        padding: .7rem 1.4631rem .8rem 1.5rem;
        font-weight: 400;
        color: #fff;
        background: #02aaeb;
        border-radius: .3rem
    }

[dir=rtl] .gifts-page.svelte-1x8p5g5 .core-table td .game-list-trigger {
    float: right;
    padding: .7rem 1.5rem .8rem 1.4631rem
}

.gifts-page.svelte-1x8p5g5 .core-table td .game-list {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    justify-content: center
}

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .core-table td .game-list {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        justify-content: flex-start
    }
}

.gifts-page.svelte-1x8p5g5 .core-table td .game-list .game {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #d0cfd6
}

    .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game .game-image {
        display: block
    }

    .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game .game-name {
        display: none
    }

    .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        background-color: #00aaeb;
        border-radius: .6rem
    }

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game {
        gap: 1rem;
        align-items: flex-start
    }

        .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game .game-name {
            display: block
        }

        .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game .game-image {
            display: none
        }

        .gifts-page.svelte-1x8p5g5 .core-table td .game-list .game a {
            height: auto;
            font-size: 1.2rem;
            font-weight: 700;
            color: #00aaeb;
            background-color: transparent
        }
}

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 .core-table td {
        height: 3.6rem;
        padding: 1.125rem
    }
}

.gifts-page.svelte-1x8p5g5 .empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24rem;
    padding-block: 3.6rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #0e1319;
    border-top: none;
    border-radius: 0 0 1rem 1rem
}

@media not (min-width:920px) {
    .gifts-page.svelte-1x8p5g5 {
        padding-inline: 0
    }
}
