.app-signup-form.svelte-10drw97 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 38.4rem
}

@media not (min-width:920px) {
    .app-signup-form.svelte-10drw97 {
        max-width: 100%
    }
}

.app-signup-form.svelte-10drw97 form:where(.svelte-10drw97) {
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

@media not (min-width:920px) {
    .app-signup-form.svelte-10drw97 form:where(.svelte-10drw97) {
        gap: .8rem
    }
}

.app-signup-form.svelte-10drw97 form:where(.svelte-10drw97) .core-button {
    height: 4.8rem;
    font-size: 1.6rem
}

.app-signup-form.svelte-10drw97 form:where(.svelte-10drw97) .confirm:where(.svelte-10drw97) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #fff
}