img.svelte-m4bdfl {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.app-auth-banner-mobile.svelte-dhihtl,
.app-auth-banner-desktop.svelte-dhihtl {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.app-auth-banner-mobile.svelte-dhihtl a,
.app-auth-banner-mobile.svelte-dhihtl picture,
.app-auth-banner-desktop.svelte-dhihtl a,
.app-auth-banner-desktop.svelte-dhihtl picture {
    display: block;
    width: 100%;
    height: 100%
}

.app-auth-banner-mobile.svelte-dhihtl img,
.app-auth-banner-desktop.svelte-dhihtl img {
    height: 100%
}

.app-auth-banner-mobile.svelte-dhihtl {
    aspect-ratio: 350/120
}