.app-login-banner.svelte-1i2l5q2 {
    height: 11rem;
    overflow: hidden;
    border-radius: .8rem
}

@media not (min-width:920px) {
    .app-login-banner.svelte-1i2l5q2 {
        width: 100%;
        height: unset
    }
}

.app-login-form.svelte-k9wlau {
    display: flex;
    flex-direction: column
}

.app-login-form.svelte-k9wlau .title:where(.svelte-k9wlau) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.3rem;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) {
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

@media not (min-width:920px) {
    .app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) {
        gap: 1.5rem
    }
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .core-input input {
    height: 4rem
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .core-button {
    height: 4rem
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .forget-password:where(.svelte-k9wlau) {
    font-size: 1.2rem;
    font-weight: 500;
    color: #00aaeb;
    text-align: right;
    cursor: pointer
}

[dir=rtl] .app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .forget-password:where(.svelte-k9wlau) {
    text-align: left
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .already:where(.svelte-k9wlau) {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center
}

.app-login-form.svelte-k9wlau form:where(.svelte-k9wlau) .already:where(.svelte-k9wlau) span:where(.svelte-k9wlau) {
    font-size: 1.4rem;
    font-weight: 700;
    color: #00aaeb
}

.app-login.svelte-ammd28 {
    display: flex;
    flex-direction: column
}