img.svelte-zfq1rc {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.app-auth-banner-mobile.svelte-149oq4g,
.app-auth-banner-desktop.svelte-149oq4g {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.app-auth-banner-mobile.svelte-149oq4g a,
.app-auth-banner-mobile.svelte-149oq4g picture,
.app-auth-banner-desktop.svelte-149oq4g a,
.app-auth-banner-desktop.svelte-149oq4g picture {
    display: block;
    width: 100%;
    height: 100%
}

.app-auth-banner-mobile.svelte-149oq4g img,
.app-auth-banner-desktop.svelte-149oq4g img {
    height: 100%
}

.app-auth-banner-mobile.svelte-149oq4g {
    aspect-ratio: 350/120
}