@keyframes ui-skeleton-shimmer {
    0% {
        background-position: 100% 0
    }
    to {
        background-position: -100% 0
    }
}

.ui-skeleton-block {
    flex-shrink: 0;
    background: linear-gradient(90deg, var(--ui-skeleton-base, #262632) 0%, var(--ui-skeleton-highlight, #34384a) 50%, var(--ui-skeleton-base, #262632) 100%);
    animation: ui-skeleton-shimmer 1.25s ease-in-out infinite
}

[dir=rtl] .ui-skeleton-block {
    background: linear-gradient(-90deg, var(--ui-skeleton-base, #262632) 0%, var(--ui-skeleton-highlight, #34384a) 50%, var(--ui-skeleton-base, #262632) 100%)
}

[dir] .ui-skeleton-block {
    background-size: 200% 100%
}

.ui-skeleton-column.svelte-csozey {
    display: flex;
    flex-direction: column;
    width: 100%
}

.ui-skeleton-row.svelte-17t1ji4 {
    display: flex;
    flex-direction: row;
    width: 100%
}